/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

/* Custom Button Component */
.btn-primary {
  padding: 0.5rem 1rem;
  background-color: #2563eb;
  color: white;
  border-radius: 0.375rem;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #1d4ed8;
}
